
<h2>Health Status</h2>
<table style="width:100%;    margin: 20px 0;">
  <tr>
    <th>Height</th>
    <th>Weight</th> 
    <th>Pulse Rate</th>
    <th>BP</th>
    <th>BMI</th>
  </tr>
  <tr>
    <td>{{healthStatus.Height}}</td>
    <td>{{healthStatus.Weight}}</td>
    <td>{{healthStatus.PulseRate}}</td>
    <td>{{healthStatus.BP}}</td>
    <td>{{healthStatus.BMI}}</td>
  </tr>
</table>

<h2>Medical Condition</h2>
<table style="width:100%;margin: 20px 0;">
  <tr>
    <th>Heart Disease</th>
    <th>Diabetics</th> 
    <th>Blood Pressure</th>
    <th>High BP</th>
    <th>Low BP</th>
  </tr>
  <tr>
    <td>{{MedicalCondition.HeartDisease}}</td>
    <td>{{MedicalCondition.Diabetics}}</td>
    <td>{{MedicalCondition.BloodPressure}}</td>
    <td>{{MedicalCondition.HighBP}}</td>
    <td>{{MedicalCondition.LowBP}}</td>
  </tr>
</table>

<h2>Personal Info</h2>
<table style="width:100%;margin: 20px 0;">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Phone</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>{{Personalinfo.Name}}</td>
    <td>{{Personalinfo.Email}}</td>
    <td>{{Personalinfo.Phone}}</td>
    <td>{{Personalinfo.Age}}</td>
  </tr>
</table>
